/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #FFFFFF;
$black: #000000;

$light-gold: #FFFBF5;
$light-green: #FBFFF2;
$light-teal: #F2FFFE;
$light-red: #FFF7F7;
$light-blue: #F1F9FF;

$gold: #D7AE75;
$green: #AABB82;
$teal: #78ACA7;
$red: #CC7777;
$blue: #6C9ABF;
$maroon: #732B2B;

$text-gold: #B38646;
$text-green: #7F9058;
$text-teal: #4D807B;
$text-red: #BD5151;
$text-blue: #4C779B;
$text-maroon: #1A0F01;