/* =============
    Typography
============= */
// font-family: 'Ewert', cursive;
// font-family: 'Lora', serif;
// font-family: 'Miltonian Tattoo', cursive;
// font-family: 'Rye', cursive;
// font-family: 'Sancreek', cursive;

body{
    font-family: 'Lora', serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}
