/* =============
    Navigation
============= */
#main-nav{
    >div{
        display: grid;
        grid-template-areas: "order menu"
        "visit history";
        grid-template-columns: auto auto;
        text-align: center;

        @include lg{
            grid-template-areas: "order menu visit history";
            grid-template-columns: auto auto auto auto;
        }
        
        .order-online {
            margin: 10%;
        }

        .menu-flavors {
            margin: 10%;
        }

        .visit-us {
            margin: 10%;
        }

        .our-history {
            margin: 10%;
        }
    }
}